* {
  margin: 0;
  padding: 0;  
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.page-header {
  border-bottom: 2px solid black;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.nav-ul {
  display: flex;
  justify-content: flex-end;
}
.nav-a {
  text-decoration: none;
  font-size: 25px;
}
.nav-li {
  list-style: none;
  margin: 20px;
  text-transform: uppercase;
}
.main-title {
  border-bottom: 2px solid black;
  height: 100px;
}
.title-text {
  font-size: 25px;
  padding-top: 30px;
  text-align: center;
}
.main-content {
  height: 150px;
}
.main-link {
  text-align: center;
}
.page-footer {
  border-top: 2px solid black;
  text-align: center;
}
.comment {
  display: flex;
}
.comment-input {
  width: 100%;
  height: 100px;
}
#button-add {
  width: 5%;
}
.img-avt {
  width: 5%;
}
.comment-row {
  display: flex;
  margin-bottom: 50px;
}
.text-comment {
  width: 80%;
  margin-left: 50px;
}
#comment-input {
  width: 1000px;
  height: 50px;
}