* {
  margin: 0;
  padding: 0;  
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.container-2 {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.page-header {
  border-bottom: 2px solid black;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.nav-ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.nav-a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(253, 55, 55);
}
.nav-li {
  list-style: none;
  margin: 20px;
  text-transform: uppercase;
}
.main-title {
  /* border-bottom: 2px solid black; */
  height: 100px;
}
.title-text {
  font-size: 25px;
  padding-top: 30px;
  text-align: center;
  color: rgb(253, 55, 55);
}
.main-content {
  /* height: 150px; */
}
.main-link {
  text-align: center;
  margin-top: 10px;
}
.page-footer {
  border-top: 2px solid black;
  text-align: center;
  height: 50px;
}
.comment {
  display: flex;
}
.comment-input {
  width: 100%;
  height: 100px;
}
.btn-input {
  width: 65px;
  height: 30px;
  margin: 14px;
  margin-right: 22px;
  color: rgb(253, 55, 55);
}
.img-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.img-avatar-last {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px;
}
.comment-row {
  display: flex;
  margin-bottom: 50px;
}
.text-comment {
  width: 80%;
}
#comment-input {
  width: 830px;
  height: 52px;
  margin-top: 5px;
  border-radius: 5px;
}
.button-input {
  width: 5%;
  padding-top: 10px;
  padding-left: 5px;
}
.div2 {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid rgb(197, 188, 188);
  justify-content: space-between;
}
.div3 {
  display: flex;
}
.div4 {
  margin: 6px;
}
.btn-remove {
  background-color: rgb(253, 55, 55);
  color: white;
  margin: 10px;
  width: 70px;
}
.main-comment {
  margin-bottom: 50px;
}
.p-name {
  font-weight: bold;
  color: rgb(253, 55, 55);
}
.link-text {
  font-weight: bold;
  color: rgb(253, 55, 55);
  text-transform: uppercase;
}
.comment-text {
  font-weight: bold;
  color: rgb(253, 55, 55);
  font-size: 25px;
}
.article-img {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}