
body{
    padding: 0px;
    margin: 0px;
}
img.logo{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}
img.banner{
    width: 100%;
    margin-top: -10px;
}
img.phone {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
.page-header {
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-company{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}
.header-company-name{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d1d25;
}
.company-name-top{
    font-family: UTM-AvoBold;
}
.company-name-bot{
    font-family: UTM-Avo;
    margin-top: -12px;
}
.header-phone{
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
    font-weight: bold;
    display: flex;
}
.header-phone-top{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}
.header-phone-bot{
    font-family: Arial, Helvetica, sans-serif;
    color: #4cc1fc;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
}
.header-contact {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.header-contact-phone{
    margin-left: 10px;
    margin-top: 15px;
}
.header-phone-number{
    color: rgb(24, 182, 255);
}
.nav-li{
    text-decoration: none;
}
.nav-ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
a{  text-decoration: none;
    margin-right: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8e8e8e;
    padding-top: 8px;}
.font-face-li{
    font-family: UTM-Avo;
    margin-bottom: 8px
}
@font-face{
    font-family: 'UTM-Avo';
    src: url(fonts/UTM\ Avo.ttf);
}
@font-face{
    font-family: 'UTM-AvoBold';
    src: url(fonts/UTM\ AvoBold.ttf);
}
.aside-p{
    font-family: UTM-Avo;
}
.header-icon {
    margin-left: 235px;
    margin-top: 15px;
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #b0b0b0;
    margin-top: 10px;
    margin-bottom: 18px;
}
.page-main {
    display: flex;
    flex-wrap: wrap;
    width: 1142px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.aside{
    width: 22%;
    margin-top: -13px;
}
.aside-form{
    background-color: #d9e4e9;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 1px;
}
.form-input{
    margin: 6px;
    width: 90%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.aside-form-text{
    font-family: UTM-AvoBold;
}
.aside-form-text::after{
    background: #62c6f8;
    content: "";
    display: block;
    height: 3px;
    margin-top: 5px;
    width: 85px;
}
 .form-date{
    position: absolute;
    left: 352px;
    top: 982px;
} 
input::placeholder{
    padding-left: 10px;
}
.aside-p-top{
    font-family: UTM-Avo;
    background-color: #d9e4e9;
    padding: 15px;
}
.aside-p-bot{
    font-family: UTM-Avo;
    background-color: #d9e4e9;
    padding: 15px;
}
.aside-p-top::after{
    content: url(img/opplus.png);
    padding-left: 140px;
}
.aside-p-bot::after{
    content: url(img/plus.png);
    padding-left: 125px;
}
.aside-button{
    width: 80px;
    height: 30px;
    color: white;
    margin-top: 10px;
    background-color: #4bbc56;
    margin-left: 75px;
    font-family: UTM-AvoBold;
    border: none;
}
.new {
    width: 65%;
    display: flex;
    flex-wrap: wrap;}
.new-list{
    display: flex;
    flex-wrap: wrap;
    width: 31%;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 242, 235);
}
img.img-new{
    width: 100%;
}
.new-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}
.new-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
    margin-left: 10px;
}
.new-content::after{
    content: url(img/right.jpg);
    position: relative;
    top: 20px;
    left: 44px;
}
.page-footer{
    background-color: #62c6f8;
    margin-bottom: 0px;
    color: white;
}
.footer-info{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}
.footer-info-list{
    width: 33%;
}
.footer-title{
    font-family: UTM-AvoBold;
    text-transform: uppercase;
}
.footer-list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px;
    text-transform: uppercase;
}
.footer-social{
    display: flex;
    flex-wrap: wrap;
}
.footer-ul{
    margin-left: -30px;
}
.footer-copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 150px;  
    text-transform: uppercase;
}
.footer-icon {
    width: 18px;
    height: 18px;
    margin-top: 8px;
}
.footer-bot{
    display: flex;
    flex-wrap: wrap;
}
.footer-right{
    display: flex;
    flex-wrap: wrap;
    margin-left: 615px;
    margin-top: -10px;
}
.footer-right-before{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.footer-right-after{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #86ffbf;
    text-transform: uppercase;
    margin-left: 5px;
}