
body {
  padding: 0px;
  margin: 0px;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
img.logo {
  width: 16%;
  margin-top: 10px;
  margin-left: 50px;
}
img.banner{
  width: 100%;
}
.img-phone{
  margin-top: 20px;
}
img.phone {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.page-header {
  background-color: rgb(218, 218, 212);
}
.container{
max-width: 1240px;
margin: 0 auto;
}
.header-top .container{
display: flex;
flex-wrap: wrap;
}
.header-top{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 17px;
}
.header-company{
  display: flex;
  flex-wrap: wrap;
}
.header-company-name{
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0d1d25;
  margin-top: 15px;

}
.company-name-top{
  font-family: UTM-AvoBold;
  color: yellow;
}
.company-name-bot{
  font-family: UTM-Avo;
  margin-top: -12px;
}
.img-cart {
  width: 50px;
}
.header-contact {
  display: flex;
  flex-wrap: wrap;  
}
.header-contact-phone{
  margin-left: 10px;
  margin-top: 15px;
}
.header-phone-number{
  color: rgb(24, 182, 255);
}
.nav-li{
  text-decoration: none;
  padding-top: 23px;
  border-right: 1px solid #e9e9e9;
  margin-left: 20px;
}
.nav-ul .container{
justify-content: space-between;

}
.nav-ul{
  display: flex;
  flex-wrap: wrap;
}
div#js-cart-count {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: -9px;
  top: -23px;
}
.breadcrumb {
display: flex;
font-family: UTM-Avo;
font-size: 12px;
color: #0d1d25;
position: relative;
bottom: 80px;
}

.breadcrumb-item:first-child::before {
content: "";
padding: 0;
}
.breadcrumb-item::before {
content: "/";
padding: 0 10px;
} 
.breadcrumb-item-space{
color: #0d1d25;
font-family: UTM-Avo;
font-size: 12px;
}
a {
  text-decoration: none;
  margin-right: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  font-weight: bold;
  padding-top: 8px;
}
@font-face{
  font-family: 'UTM-Avo';
  src: url(fonts/UTM\ Avo.ttf);
}
@font-face{
  font-family: 'UTM-AvoBold';
  src: url(fonts/UTM\ AvoBold.ttf);
}
.nav-content{
display: flex;
justify-content: space-between;
height: 62px;
margin-left: 8px;
}
.header-icon{
margin-top: 20px;
}
.header-icon-img {
 margin-left: 10px;
}
.header-nav {
  border-top: 1px solid #e9e9e9;
  /* margin-bottom: 12px; */
}
.page-main {
margin-bottom: 42px;
/* background-color: #f1e8e8; */

}

.product-info img{
  width: 30%;
}
.col.content-item {
  width: 25%;
  margin-bottom: 20px;
}
.content {
  width: 23%;
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid black;
  margin: 10px;
}
.result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.page-main .container{
display: flex;
flex-wrap: wrap;
}
.new {
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    justify-content: space-between;
}
.new-list{
  display: flex;
  flex-wrap: wrap;
  width: 23%;
  margin-left: 20px;
  margin-bottom: 23px;
  border: 1px solid rgb(255, 242, 235);
  position: relative;
}
img.img-new{
  width: 100%;
}
.btn-addcart {
  cursor: pointer ;
  background-color: yellow;
  color: black;
  width: 85px;
  height: 35px;
  margin-bottom: 20px;
  
}
.btn-addcart:hover{
  background-color: rgb(0, 214, 0);
}
.new-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
}
.new-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-left: 24px;
  margin-right: 40px;
}
img{
  width: 30%;
  /* margin-top: 20px; */
}
.style-cart {
  width: 23%;
}
.content-item{
  display: flex;
  width: 25%;
  margin-bottom: 25px;
}
div#cart-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* justify-content: space-between; */
}
.btn-cart{
  position: absolute;
  right: 0;
  bottom: 0;
}
.page-footer{
  background-color: rgb(218, 218, 212);
  margin-bottom: 0px;
}
.footer-info .container{
  display: flex;
  margin-bottom: 20px;
}
.footer-info-list{
  width: 33%;
}
.footer-title{
  font-family: UTM-Avo;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.footer-list{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 10px 0;
  text-transform: uppercase;
  list-style: inside;
}
.footer-social{
  display: flex;
  flex-wrap: wrap;
}
.footer-social-p {
  margin: 10px 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-copyright .container{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* margin-left: 190px;   */
  text-transform: uppercase;
  /* justify-content: space-between; */
}
.footer-icon {
  width: 18px;
  height: 18px;
  margin-top: 8px;
}
.footer-bot{
  border-top: 1px solid #81d1f9;
}
.footer-bot-all{
  display: flex;
  justify-content: space-between;
}
.footer-right{
  display: flex
}
.footer-copyright-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.footer-right-before{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.footer-right-after{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #86ffbf;
  text-transform: uppercase;
  margin-left: 5px;
}