@font-face {
	font-family: 'UTM-Avo';
	src: url(fonts/UTM\ Avo.ttf);
}
@font-face {
	font-family: 'UTM-AvoBold';
	src: url(fonts/UTM\ AvoBold.ttf);
}
@mixin display {
  display: flex;
	flex-wrap: wrap;
}
$font-secondary: UTM-Avo;
$font-secondary-bold: UTM-AvoBold;
$font-uppercase: uppercase;
$color-primary: #0d1d25;

body {
	padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img.logo {
	width: 70px;
	height: 70px;
	margin-top: 10px;
}
img.banner {
	width: 100%;
	margin-bottom: 58px;
}
img.phone {
	width: 30px;
	height: 30px;
	margin-top: 8px;
}
.container {
  width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.page-main {
	margin-bottom: 42px;
	.container {
		@include display();
	}
}
.header-top {
	.container {
    @include display();
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 17px;
}
.header-company {
  @include display();
  .header-company-name {
    margin-left: 30px;
    color: $color-primary;
    .company-name-top {
      font-family: $font-secondary-bold;
      font-size: 20px;
    }
    .company-name-bot {
      font-family: $font-secondary;
      margin-top: -12px;
    }
  }
}
img.logo {
	width: 70px;
	height: 70px;
	margin-top: 10px;
}
img.phone {
	width: 30px;
	height: 30px;
	margin-top: 8px;
}
.header-contact {
  @include display();
  .header-phone {
    color: #282828;
    font-weight: bold;
    @include display();
    .header-phone-top {
      margin-left: 5px;
      font-size: 14px;
      font-style: italic;
    }
    .header-phone-bot {
      color: #4cc1fc;
      margin-left: 5px;
      font-size: 18px;
      font-weight: bold;
      margin-top: 12px;
    }    
  }
}
.header-contact-phone {
	margin-left: 10px;
	margin-top: 15px;
}
.header-phone-number {
	color: rgb(24, 182, 255);
}
.header-icon {
	margin-top: 20px;
}
.header-icon-img {
	margin-left: 10px;
}
.header-nav {
	border-top: 1px solid #e9e9e9;
}
.nav-content {
  @include display();
	justify-content: space-between;
	height: 62px;
	margin-left: 8px;
}

.nav-list {
  @include display();
	.container {
		justify-content: space-between;
	}
  .nav-list-content {
    text-decoration: none;
    padding-top: 23px;
    border-right: 1px solid #e9e9e9;
    margin-left: 20px;
    .nav-list-text {
      text-decoration: none;
      margin-right: 16px;
      font-size: 12px;
      color: #8e8e8e;
      padding-top: 8px;
    }
  }
}
.flex-banner {
	position: relative;
}
img.banner {
	width: 100%;
	margin-bottom: 58px;
}
.breadcrumb {
  @include display();
  font-family: $font-secondary;
	font-size: 12px;
	color: $color-primary;
	position: absolute;
	top: 30%;
}
.breadcrumb-item {
	&:first-child {
		&::before {
			content: "";
			padding: 0;
		}
	}
	&::before {
		content: "/";
		padding: 0 10px;
	}
}
.breadcrumb-item-text {
  text-decoration: none;
	color: $color-primary;
	font-family: $font-secondary;
	font-size: 12px;
}
.aside {
	width: 295px;
}
.aside-form {
	background-color: #d9e4e9;
  margin-top: 42px;
  position: relative;
}
.form-input {
	margin: 0 20px;
	margin-bottom: 15px;
	width: 240px;
	height: 37px;
	font-size: 13px;
	border: none;
	padding-left: 15px;
	&::placeholder {
		font-size: 13px;
		color: $color-primary;
	}
}
.aside-form-text {
	font-family: $font-secondary-bold;
	font-size: 18px;
	color: $color-primary;
	padding-top: 15px;
	padding-left: 20px;
	&::after {
		background: #62c6f8;
		content: "";
		display: block;
		height: 3px;
		margin-top: 10px;
		width: 85px;
	}
}
.aside-top, .aside-bot {
  display: flex;
  height: 50px;
  justify-content: space-between;
  background-color: #d9e4e9;
  padding: 0 20px;
  margin-bottom: 20px;
}
.aside-top::after {
  content: url(img/opplus.png);
	padding-top: 12px;
}
.aside-bot::after {
  content: url(img/plus.png);
	padding-top: 12px;
}
.aside-top-p, .aside-bot-p {
	font-family: $font-secondary;
	font-size: 14px;
	text-transform: $font-uppercase;
	color: $color-primary;
}
.aside-list {
	font-family: $font-secondary;
	margin-bottom: 14px;
	font-size: 12px;
	color: $color-primary;
	list-style: inside;
	margin-left: 20px;
}
.aside-button {
	width: 126px;
  height: 46px;
  margin: 0px 85px;
	color: white;
	background-color: #4bbc56;
	font-family: $font-secondary-bold;
	font-size: 14px;
	border: none;
	justify-items: center;
	margin-bottom: 15px;
}
.form-date {
  position: absolute;
  right: 12%;
  bottom: 25%;
}
.new {
  @include display();
	max-width: 945px;
	margin-top: -2px;
}
.new-list {
  @include display();
	width: 31%;
	height: 323px;
	margin-left: 20px;
	margin-bottom: 22px;
	border: 1px solid #ebebeb;
	position: relative;
}
img.img-new {
	width: 100%;
}
.new-title {
	font-size: 16px;
	font-weight: bold;
	color: #282828;
	text-transform: $font-uppercase;
	margin-left: 24px;
	margin-bottom: 5px;
	padding-top: 10px;
}
.new-content {
	font-size: 13px;
	margin-left: 24px;
	margin-right: 40px;
	color: #282828;
	&::after {
		content: url(img/right.jpg);
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
.page-footer {
	background-color: #62c6f8;
	margin-bottom: 0px;
	color: white;
}
.footer-info {
	.container {
    @include display();
    margin-bottom: 20px;
	}
}
.footer-info-list {
	width: 33%;
}
.footer-title {
	font-family: $font-secondary-bold;
	text-transform: $font-uppercase;
	font-size: 18px;
}
.footer-list {
	font-size: 12px;
	margin: 12px 0;
	text-transform: $font-uppercase;
	list-style: inside;
}
.footer-social {
	@include display();
}
.footer-social-p {
	margin: 10px 5px;
	text-transform: $font-uppercase;
	font-size: 12px;
}
.footer-icon {
	width: 25px;
	height: 25px;
	margin-top: 5px;
}
.footer-bot {
	border-top: 1px solid #81d1f9;
}
.footer-bot-all {
	@include display();
	justify-content: space-between;
	height: 55px;
	align-items: center;
}
.footer-right {
	@include display();
}
.footer-copyright-text, .footer-right-before, .footer-right-after {
	font-size: 12px;
	text-transform: $font-uppercase;
}
.footer-right-after {
	color: #86ffbf;
	margin-left: 5px;
}