.aside-button {
	width: 126px;
  height: 46px;
  margin: 0px 85px;
	color: white;
	background-color: #4bbc56;
	font-family: $font-secondary-bold;
	font-size: 14px;
	border: none;
	justify-items: center;
	margin-bottom: 15px;
}
