@font-face {
  font-family: "UTM-Avo";
  src: url(../fonts/UTM\ Avo.ttf) format("ttf");
  src: url(../fonts/UTM\ Avo.ttf) format("truetype"); }
  @font-face {
    font-family: "UTM-AvoBold";
    src: url(../fonts/UTM\ AvoBold.ttf) format("ttf");
    src: url(../fonts/UTM\ AvoBold.ttf) format("truetype"); }