//font family
$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: "UTM-Avo";
$font-secondary-bold: "UTM-AvoBold";
$font-uppercase: uppercase;
//font size: 
$font-sm: 12px;
$font-md: 13px;
$font-lg: 14px;
//color font
$color-primary: #0d1d25;
