.aside {
	width: 295px;
	margin-top: 20px;
}
.aside-form {
	background-color: #d9e4e9;
  margin-top: 42px;
  position: relative;
}

.aside-form-text {
	font-family: $font-secondary-bold;
	font-size: 18px;
	color: $color-primary;
	padding-top: 15px;
	padding-left: 20px;
	&::after {
		background: #62c6f8;
		content: "";
		display: block;
		height: 3px;
		margin-top: 10px;
		width: 85px;
	}
}
.aside-title {
	background: #d9e4e9;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	margin-bottom: 15px;
}
.aside-title-text {
	font-family: $font-secondary;
	text-transform: uppercase;
	color: #0d1d25;
	background: #d9e4e9;
}
.aside-opplus {
	padding: 0 10px;
	padding-top: 20px;
}
.aside-plus {
	padding: 0 10px;
	padding-top: 17px;
}
.aside-top {
	&::after {
  content: url(/img/plus.png);
	padding-top: 12px;
	}
}
.aside-title-text {
	&::after {
  content: url('haaaaaaaaaa');
	padding-top: 12px;
	}
}
.aside-top-p, .aside-bot-p {
	font-family: $font-secondary;
	font-size: 14px;
	text-transform: $font-uppercase;
	color: $color-primary;
}
.aside-list {
	font-family: $font-secondary;
	margin-bottom: 14px;
	font-size: 12px;
	color: $color-primary;
	list-style: inside;
	margin-left: 20px;
}
.aside-list-text {
	color: #0d1d25;;
}

.form-date {
  position: absolute;
  right: 12%;
  bottom: 25%;
}
